@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  font-family: 'VT323',monospaced;
  background-color: #eee;
  margin: 0; padding: 0 1em 0 0;
  height: 100vh;
  background-image: url("../img/banjo-nursery.png");
  background-size: cover;
  background-position: center top;
  
}

.logo {
  background-color: black;
  padding: .3em;
  display: inline;
  font-weight: normal;
  text-shadow: none;
  font-family: 'Merriweather','Palatino',serif;
}

.logo span {
  color: #ccc;
  background: -webkit-linear-gradient(#fff, #666);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-size: 1.8em;
  font-weight: 100;
  color: #222;
  margin: 0 0 0 2.2em;
  text-indent: -2.2em;
  line-height: 1.8;
}

a, a svg {
  color: #555;
  fill: #555;
  -webkit-transition: fill 0.5s linear, color 0.5s linear;
  -moz-transition: fill 0.5s linear, color 0.5s linear;
  -ms-transition: fill 0.5s linear, color 0.5s linear;
  -o-transition: fill 0.5s linear, color 0.5s linear;
  transition: fill 0.5s linear, color 0.5s linear;
  text-decoration: none;
}
a:hover, a:hover svg {
  color: #000;
  fill: #000;
}

.container {
  font-family: 'Merriweather','Palatino',serif;
  width: auto;
  overflow: auto;
  position: absolute;
  left: 0;
  bottom: 2em; 
  right: 0;
  text-align: center;
  line-height: 1.5;
}
.container a {
  font-size: 2.5em; margin: .3em; text-decoration: none; font-family: 'Helvetica', 'Arial', sans-serif;
}
.goodreads {
  font-weight: 100;
  vertical-align: top;
  line-height: 1.15;
}
